/** Add css rules here for your application. */
body {
	position: absolute;
	width: 100%;
	height: 100%;
}
#content {
	left: 0px;
	right: 0px;
	position: absolute;
	top: 0em;
	bottom: 0px;
	overflow: auto;
}

#output {
	overflow: auto;
}