/** Add css rules here for your application. */


.root {
	background-color: yellow; 
}	

.dock {
	background-color: orange; 
}

.bottom {
	background-color: rgb(220,220,220);	
}

.canvas {
	background-color: white;	
}

body {
	overflow: hidden;
	margin: 0px !important;
}

.kijknapanel {
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
}

.goed {
	background-image: url("images/resources/knop-indicatie-goed.png");
}

.half {
	background-image: url("images/resources/knop-indicatie-magdoor.png");
}

.fout {
	background-image: url("images/resources/knop-indicatie-fout.png");
}