@CHARSET "UTF-8";
body {
	overflow: hidden;
	margin: 0px !important;
	background: transparent !important; /* was initial (niet voor ie/edge) */
}

.check {
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
}

.check.fout {
	background-image: url("images/resources/knop-indicatie-fout.png");
}

.check.goed {
	background-image: url("images/resources/knop-indicatie-goed.png");
}

.check.half {
	background-image: url("images/resources/knop-indicatie-magdoor.png");
}

.check .extern {
	background-color: black;
	visibility: hidden;
}

.toolbox .gwt-ToggleButton {
	padding: 0px !important;
	display: inline-block;
	outline: none;
}

.canvas {
	outline: none;
}


.gwt-ToggleButton span {
	display: inline-block;
	height: 32px;
	width: 32px;
}

.gwt-ToggleButton span.move {
	background-image: url("geodefinergwt/fi/euclides/resources/move.png");
}

.gwt-ToggleButton span.line {
	background-image: url("geodefinergwt/fi/euclides/resources/line.png");
}
.gwt-ToggleButton span.segment {
	background-image: url("geodefinergwt/fi/euclides/resources/segment.png");
}
.gwt-ToggleButton span.ray {
	background-image: url("geodefinergwt/fi/euclides/resources/ray.png");
}

.gwt-ToggleButton span.move {
	background-image: url("geodefinergwt/fi/euclides/resources/move.png");
}

.gwt-ToggleButton span.delete {
	background-image: url("geodefinergwt/fi/euclides/resources/delete.png");
}

.gwt-ToggleButton span.pan {
	background-image: url("geodefinergwt/fi/euclides/resources/pan.png");
}

.gwt-ToggleButton span.triangle {
	background-image: url("geodefinergwt/fi/euclides/resources/triangle.png");
}