@CHARSET "UTF-8";
body {
	overflow: hidden;
	margin: 0px !important;
	background: transparent !important; /* was initial (niet voor ie/edge) */
}

.check {
	background-repeat: no-repeat;
	background-position: right top;
	background-color: transparent;
}

.check.fout {
	background-image: url("images/resources/knop-indicatie-fout.png");
}

.check.goed {
	background-image: url("images/resources/knop-indicatie-goed.png");
}

.check.half {
	background-image: url("images/resources/knop-indicatie-magdoor.png");
}

.check .extern {
	background-color: black;
	visibility: hidden;
}

.toolbox .gwt-ToggleButton {
	padding: 0px !important;
	display: inline-block;
}

.canvas {
	outline: none;
}
