/** Dit file staat niet in de css map */

.root {
	background-color: white; 
}	

.dock {
	background-color: orange; 
}

.bottom {
	background-color: rgb(220,220,220);	
}

.right {
	background-color: rgb(200,200,200);	
}

.canvas {
	background-color: white;	
}

.upimage {
	position: relative;
	top: -3px;
	left: -5px;
}		

.downimage {
	position: relative;
	top: -4px;
	left: -6px;
}		

.pushimage {
	position: relative;
	top: -2px;
	left: -4px;
}		

.togglebutton {
	
	border-style: none;
	margin: 0px;
	padding: 0px;
	color: red;
	
}

.pushbutton {

	background-color: yellow;
	font-size: 0.875em;
	padding: 0px;	
}	
