/** dit file staat in statistiekgwt/client/css */
.root {
	cursor: default;
	background-color: yellow;
}

.vertical {
	/** background-color: orange; */
	
}

.dock {
	/** background-color: orange; */
	
}

.bottom {
	background-color: rgb(220, 220, 220);
}

.canvas {
	background-color: white;
}

.upimage {
	position: relative;
	top: -3px;
	left: -5px;
}

.downimage {
	position: relative;
	top: -4px;
	left: -6px;
}

.pushimage {
	position: relative;
	top: -3px;
	left: -5px;
}

.pushimage2 {
	position: relative;
	top: -3px;
	left: -5px;
}

.togglebutton {
	border-style: none;
	margin: 0px;
	padding: 0px;
	color: red;
}

.pushbutton {
	background-color: yellow;
	background-image: none;
	display: table-cell;
	text-align: center;
	font-size: 0.875em;
	padding: 0px;
}

.colorpanel {
	background-color: rgb(190, 190, 190);
}

.backgroundred {
	background-color: rgb(255, 0, 0);
}

.backgroundblue {
	background-color: rgb(0, 0, 255);
}

.textbox {
	/*font-size: 16px;*/
	/*font-weight: bold;*/
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textblack {
	color: black;
}

.textgray {
	color: rgb(220, 220, 220);
}

.textarea {
	border:1px solid #999999;
    width:100%;
    height:100%;
    margin:5px 0;
    padding:3px;
}

.selectioncell {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textinputcell {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.titlelabel {
	font-style: italic;
	text-align: center;
}

.settingspanel {
	margin: 2px;
	padding: 2px;
	border: 2px solid grey;
}

.horizontalrule {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    align: center;
    text-align:center; margin: 0 auto;
}

.colorlegendlabel {
	font-size: 12px;
}

.boxsizingborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.dataGridCell td div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.dataGrid {
     overflow: hidden;
     white-space: nowrap;
     table-layout: fixed;
}

td div{
   overflow-x:hidden;
}