/** dit file staat in statistiekgwt/client/css */
.root {
	cursor: default;
	background-color: yellow;
}

.vertical {
	/** background-color: orange; */
	
}

.dock {
	/** background-color: orange; */
	
}

.bottom {
	background-color: rgb(220, 220, 220);
}

.canvas {
	background-color: white;/*#DCEDFF; /* DWO blue */
}

.upimage {
	position: relative;
	top: -3px;
	left: -5px;
}

.downimage {
	position: relative;
	top: -4px;
	left: -6px;
}

.pushimage {
	position: relative;
	top: -3px;
	left: -5px;
}

.pushimage2 {
	position: relative;
	top: -3px;
	left: -5px;
}

.togglebutton {
	border-style: none;
	margin: 0px;
	padding: 0px;
	color: red;
}

.pushbutton {
	background-color: rgb(240, 240, 240);
	background-image: none;
	display: table-cell;
	text-align: center;
	font-size: 0.875em;
	padding: 0px;
}

.colorpanel {
	background-color: rgb(190, 190, 190);
}

.backgroundred {
	background-color: rgb(255, 0, 0);
}

.backgroundblue {
	background-color: rgb(220, 237, 255); /* DWO blue #DCEDFF */
}

.backgroundgrey {
	background-color: rgb(192, 192, 192); /* selection color */
}

.backgroundwhite {
	background-color: rgb(255, 255, 255);
}

.textbox {
	/*font-size: 16px;*/
	/*font-weight: bold;*/
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textblack {
	color: black;
}

.textgray {
	color: rgb(220, 220, 220);
}

.textarea {
	border:1px solid #999999;
    width:100%;
    height:100%;
    margin:5px 0;
    padding:3px;
}

.selectioncell {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textinputcell {
	width: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.titlelabel {
	font-style: italic;
	text-align: center;
	/*margin: 3px;*/
	padding-bottom: 3px;
}

.spaceTopLabel {
	padding-top: 3px;
}

.spaceBottomLabel {
	padding-bottom: 3px;
}

/* set vertical-align in input and label to align checkbox and its text */
/* Let op: dit heeft invloed op de cell in datagrid... */
input {
    vertical-align: middle; 
    /*padding-top: 7px;*/
}

/* set vertical-align in input and label to align checkbox and its text */
/* Let op: dit heeft invloed op de cell in datagrid... */
label {
    vertical-align: middle; 
    /*padding-top: 7px;*/
}


.settingspanel {
	margin: 2px;
	padding: 5px;
	/*border: 2px solid grey;*/
}

.horizontalPanel {
	border-color: grey;/*#777777;*/
	margin: 5px;
}

.horizontalPanelWithoutBorder {
	margin: 5px;
	padding: 5px;
}

.horizontalPanelDescriptives {
	margin: 3px;
	padding: 3px;
}

.horizontalrule {
	border: 0;
    height: 0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    align: center;
    text-align:center; 
    margin: 5px;/* 0 auto;*/
}

.splitClassLabel {
	height: 14px;
    white-space: nowrap;
    padding-right: 3px;
}

.colorlegendlabel {
	height: 14px;
    white-space: nowrap;
}

.boxsizingborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.dataGridCell td div{
	white-space: nowrap;
    /*overflow: auto;/*hidden; /*effects label?*/
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    outline: none;
}

.dataGrid {
    overflow: hidden;
    white-space: nowrap;
    table-layout: auto;
}

td div{
   /*overflow-x: hidden; /*effects label?*/
}

.failMessage {
	color:red;
}

.caption {
	width:100%;
	background-color: #DCEDFF; /* DWO blue */
}

.closeButton {
	float:right;
}

.columnDialogView {
	background-color: gray;
}

.radioButton {
	display: block; /* prevent default of showing radiobuttons on one line, instead show each on a new line */
	white-space:nowrap;
}

.checkBox {
	display: block; /* prevent default of showing checkboxes on one line, instead show each on a new line */
	white-space:nowrap;
}

.scrollPanel {
	/*overflow: auto;*/
}

.margin {
	margin: 5px;
}

.separateViewDialog {
	font-size: 12px;	
}

.button {
	white-space: nowrap;
}

.selectedLabel {
	opacity: ;
	
}

.flexTable td {
	border: 1px solid #BBBBBB;
	padding: 3px;
	spacing: 3px;
	padding-bottom: 0px;
}

.flexTableSelection td {
	border: 1px solid #BBBBBB;
	padding: 3px;
	spacing: 3px;
	padding-bottom: 0px;
	background-color: rgb(192, 192, 192); /* selection color */
}

.noWrap {
	white-space: nowrap;
}

.descriptivesSplitClassLabel {
	padding-top: 0px;
	padding-bottom: 7px;
	padding-left: 5px;
}

.block {
	display: block; /* prevent default of showing radiobuttons on one line, instead show each on a new line */
	white-space:nowrap;
}

.waitCursor {
	cursor: wait !important;
	pointerEvents: none;
}

.moveCursor {
	cursor: move !important;
	pointerEvents: none;
}

@external gwt-TabLayoutPanel;
@external gwt-TabLayoutPanelTabs;
@external gwt-TabLayoutPanelTab;
@external gwt-TabLayoutPanelTab-selected;
@external gwt-TabLayoutPanelTabInner;
@external gwt-TabLayoutPanelContent;
/** TabLayoutPanel */
/**the panel itself**/
.gwt-TabLayoutPanel {
    border: none;
    margin: 0px;
    padding: 0px;
}
/**the tab bar element**/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
/*    background-color: #F4F4F4 !important;*/
    background-color: #bfbfbf !important;
}
/**an individual tab**/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
/*    background-color: #6F6F6E !important;*/
    background-color: #8C8C8A !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
/*    background-color: white !important;*/
    background-color: #DCEDFF !important; /* DWO blue */
}
/**an element nested in each tab (useful for styling)**/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    font-family: Arial !important;
}

/**applied to all child content widgets**/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border: none;
    margin: 0px;
    overflow: hidden;
    padding: 15px;
}