/** Add css rules here for your application. */


body {
	margin: 0px !important;
	background-color: transparent !important;
}

.recommender .profile-borderBox {
	border: none 0px;
}

.recommender  {
	font-weight: normal;
}

.recommender .gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background: #eee;
}


.recommender .profile-borderBox > .gwt-Label {
	color: unset;
}
.gwt-Frame, 
.gwt-Frame-widget {
	border: 0px none !important;
}

.framed {
	border: 2px #1b75bb solid;
	border-radius: 4px;
}
.alert.framed.profile-borderBox {
	border-color: red !important;
}


.recommender-header {
	background-color: rgb(238, 238, 238);
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}
.recommender-header::before {
	content: "▶";
	font-size: 30px;
	padding-left: 20px;
	display: block;
	margin-top: -8px;
	float: left;
}

.recommender-header-down.recommender-header::before {
	content: "▼";
}